@model FB486Exercise1.Models.Customer
@{
    ViewBag.Title = "Details for " + Model.CompanyName;
}
<h2>Details for @Model.CompanyName <small>in @Model.City, @Model.Country</small></h2>

@foreach (var order in Model.Orders.OrderByDescending(o => o.OrderDate))
{
    <div>
        <h4>Order #@order.OrderID <small>on @order.OrderDate.Value.ToString("d MMMM yyyy")</small></h4>
        <ul>
            @foreach (var details in order.Order_Details)
            {
                <li>@details.Product.ProductName, @details.Quantity at @details.UnitPrice.ToString("$#,##0.00") each is @((details.Quantity * details.UnitPrice).ToString("$#,##0.00"))</li>
            }
            <li><em>Total:</em> @order.Order_Details.Sum(od => od.UnitPrice * od.Quantity).ToString("$#,##0.00")</li>
        </ul>
    </div>
}